.container {
	padding: 15px;
}
/* Buttons */
.buy-now-button {
	background-color: black;
	color: blanchedalmond;
	border-radius: 10px;
	border: none;
	padding: 5px 10px;
}

/* Slider Items */

.carousel-indicators li {
	background-color: black;
}

/* Smartphone */

#smartphone h6 {
	color: darkorange;
	text-align: right;
}

.card {
	border: none;
	border-radius: 10px;
	box-shadow: 5px 5px 10px lightgray;
}

.card-footer {
	background-color: white;
	border-top: none;
}

.card h6 {
	font-weight: 700;
}

/* Laoptop */
#laptop h6 {
	color: darkorange;
	text-align: right;
}

/* Categories */

.cat1 h3 {

text-align: center;


}
.cat2{
	margin-top:  30px;
	padding: 15px;
}

/* fix */
.catagories-content {
	display: flex;
	justify-content: space-evenly;  /*For align all items Horizontally  */
	align-items: center;   /*For align all items vertically  */
}

.item {
	height: 170px;
	width: 170px;
	box-shadow: 5px 5px 10px #ddd;
	display: flex;
	align-items: center;   /*For align all items vertically  */
	justify-content: center;  /*For align all items Horizontally  */
	margin-bottom: 24px;
}

.cat3 img{
	width: 100%;
}

/* Contact section */




.contact-area h5{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}





/* Media Icon Section */
.media-icon ul{
    position: absolute;
    margin-left: 48%;
    transform: translate(-50%,-50%);
    display: flex;
}

.media-icon ul li{
    list-style: none;
    margin: 0 15px;
   }

.media-icon ul li .fa{
    font-size: 30px;
    line-height: 40px;
    transition: 0.6s;
    color: #000;
}

.media-icon ul li .fa:hover{
    color: white;
}


.media-icon ul li a{
    position: relative;
    display: block;
    height: 110%;
    width: 160%;
    border-radius: 150%;
   /* background-color: goldenrod; */
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.media-icon ul li a:hover{
    transform: translate(0,-18px);
}
 .media-icon ul li:nth-child(1) a:hover{
     color: white;
     background-color: #45499d;
 }

 .media-icon ul li:nth-child(2) a:hover{
     color: whitesmoke;
    background-color: #000;
}

.media-icon ul li:nth-child(3) a:hover{
    color: whitesmoke;
    background-color: #0098df;
}

.media-icon ul li:nth-child(4) a:hover{

    background-color: #55aa7f;
}

.media-icon ul li:nth-child(5) a:hover{

    background-color: #2d92f6;
}



footer {
    text-align: center;
    color: gray;
    padding-top: 15px;
}
